@import '../../variables.css';

:root {
  --brand-color: #61dafb;
}

.list {
  padding: 1em;
}

.checklist {
  padding: 0.5em;
}

.checkbox {
  display: flex;
  margin: 0.5em 0;
}

.checkboxLabel {
  padding: 0 1em;
}
