@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.tabBody {
  box-shadow: 0 0 0 !important;
  border: 0 !important;
}

:global(.tabMenu .item) {
  flex: 1 !important;
  justify-content: center;
}

.students {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 1.5em;
  padding: 2em 0;
}

.student {
  box-shadow: 0 0 0 1px #bdbdbd;
  border-radius: 2px;
}

.avatar {
  width: 100%;
}

.name {
  text-align: center;
}
