@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.searchWrapper {
  height: 100%;
  width: 100%;
}

.searchFocus {
  width: 30vw !important;
  min-width: 250px;
  transition: all 0.2s ease-in-out;
}
