@import '../../variables.css';

.sidebar {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 0 1px silver;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  padding: 1.5em;
  transition: all 0.2s ease-in-out;
}

.item:hover {
  background: whitesmoke;
  cursor: pointer;
}

/* .itemActive {
  background: whitesmoke;
} */

.dropdown i {
  color: black !important;
}

.dropdown {
  position: relative;
}

.colorWrapper {
  position: relative;
}

.background {
  position: absolute;
  width: 5%;
  height: 93%;
  top: 4%;
  left: 0;
  z-index: 1;
  bottom: 0%;
  box-shadow: 0 0 0 1px silver;
}

.dropdownWrapper {
  padding: 0 0.5em;
}
