@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.tabBody {
  box-shadow: 0 0 0 !important;
  border: 0 !important;
}

:global(.tabMenu .item) {
  flex: 1 !important;
  justify-content: center;
}

.class {
  box-shadow: 0 0 0 1px silver;
  padding: 0.5em;
  background: whitesmoke;
  border-radius: 2px;
  margin: 1em;
  color: black;
  transition: all 0.1s ease-in-out;
}

.class:hover {
  box-shadow: 0 0 0 2px silver;
  background: #dbdada;
}

.files {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.5em;
}
